@import 'styles/modules';

.btn {
    @apply inline-flex items-center justify-center gap-2 px-4 rounded text-center;
    height: 44px;
    line-height: 1rem;
    transition: $transitionDurationFast;

    &.main {
        @apply hover:no-underline focus:no-underline;
        min-width: 100px;
    }

    &:disabled {
        @apply cursor-default;
    }

    &.small {
        @apply text-sm px-2;
        height: 34px;
        line-height: 1rem;
    }

    &.large {
        @apply text-lg px-8;
        height: 54px;
        line-height: 1.25rem;
    }

    &.main {
        @apply bg-gradient-to-r from-sky-500 to-indigo-500;
        color: white;
        background-size: 200%;
        background-position: left;
        transition: $transitionDurationFast;

        &:hover, &:focus {
            background-position: right;
        }

        &:disabled {
            @apply opacity-90;
            background-position: left;
        }
    }
}
