@import 'styles/modules';

.formContainer {
    @apply w-1/3 p-4 mx-auto grid gap-4 bg-slate-200 rounded-lg;

    button, > span {
        @apply w-2/3 mx-auto;
    }

    span {
        @apply text-center text-2xl;
    }

    input, select {
        @apply w-full rounded-md p-2 mx-auto;
    }

}